extends ../layout

block content
  .row
    .col-lg-4.col-md-offset-4
      if message.length
        .alert.alert-success.text-center.message-padding
          =message
      h1.text-center Add Category
      hr
      form(method='POST')
        .form-group
          label(for='category') Category Name
          input.form-control(type='text', name='category', autofocus='true')
        .form-group
          button.btn.btn-primary(type='submit') Submit Changes